body {
    margin: 0 0 0 0;
    font-family: 'DM Serif Text', serif;;
}
  
* {
    box-sizing: border-box;
    animation: fade-in 1s;
}

.initContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: larger;
}

.initContainer > h5 {
    cursor: pointer;
}

.initContainer > h5:hover {
    border-bottom: 1px solid black;
}


.title {
    text-align: center;
    vertical-align: top;
}

.title2 {
    text-align: center;
    padding-top: 70px;
}

form {
   display: block;
   text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.form-group >input {
    padding:10px;
    border-radius:5px;
    width: 80%;
    margin: 1rem;
    padding: 10px;
    height: 6vh;
    font-size: larger;
    font-family:'DM Serif Text', serif;
}

.form-group > input:hover {
    width: 85%;
    transition: ease;
}

.loginButton > button {
    text-align: center;
    margin-top: 5rem;
    height: 6vh;
    width: 50%;
    border-radius: 5px;
    background-color: #F36B6B;
    color: white;
    border: 1px solid white;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    cursor: pointer;
}


.signupButton > button {
    text-align: center;
    margin-top: 2rem;
    height: 6vh;
    width: 50%;
    border-radius: 5px;
    background-color: #F36B6B;
    color: white;
    border: 1px solid white;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    cursor: pointer;
}

.loginButton > button:hover {
    background-color: white;
    color: #F36B6B;
    border: 1px solid #F36B6B
}

.signupButton > button:hover {
    background-color: white;
    color: #F36B6B;
    border: 1px solid #F36B6B
}

.needacc{
    width: 70%;
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
    margin: auto;
}

.needacc:hover {
    border-bottom: 1px solid black;
}

.statement {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 50px;
}

@media screen and (min-width: 400px) {
    .needacc {
        width: 30%;
    }
}

@media screen and (orientation: landscape) and (max-height: 450px) {
    .loginButton > button {
        height: 10vh
    }

    .signupButton > button {
        height: 10vh
    }

    .form-group > input {
        height: 10vh;
    }
}