body {
    margin: 0 0 0 0;
    font-family: 'DM Serif Text', serif;
}
  
* {
    box-sizing: border-box;
    animation: fade-in 1s;
}

.initContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: larger;
    font-family: 'DM Serif Text', serif;
    cursor: pointer;
}

.initContainer> h1 {
    font-size: 40px;
}

.navbar-brand{
    cursor: pointer;
}

.navbar-brand:hover{
    color: #F36B6B;
}

.initContainer > h5 {
    cursor: pointer;
}

.paintitle {
    text-align: center;
    margin-top: 25px;
    vertical-align: top;
    font-size: 48px;
    cursor: pointer;
    margin-bottom: 0;
    font-family: 'DM Serif Text', serif;
}

.title {
    text-align: center;
    margin-top: 25px;
    vertical-align: top;
    font-size: 48px;
    cursor: pointer;
    font-family: 'DM Serif Text', serif;
}


.maintitle {
    text-align: center;
    margin-top: 10px;
    vertical-align: top;
    font-size: 48px;
    cursor: pointer;
    font-family: 'DM Serif Text', serif;
}

.title2 {
    text-align: center;
    padding-top: 70px;
    font-family: 'DM Serif Text', serif;
}

.title22 {
    text-align: center;
    padding-top: 10px;
    font-family: 'DM Serif Text', serif;
}

.title3 {
    padding-left: 20px;
    text-align: center;
    padding-right: 20px;
    padding-top: 20px;
    font-family: 'DM Serif Text', serif;
}

.title4 {
    font-family: 'DM Serif Text', serif;
    padding-left: 20px;
    padding-right: 20px;
}

.title5 {
    margin-bottom: 0;
    text-align: left;
    padding-left: 40px;
    padding-right: 20px;
    font-family: 'DM Serif Text', serif;
}

.date {
    text-align: center;
    vertical-align: top;
    padding-top: 20px;
    font-size: 36px;
    font-family: 'DM Serif Text', serif;
}

.date2 {
    text-align: center;
    vertical-align: top;
    margin: 0;
    font-size: 36px;
    font-family: 'DM Serif Text', serif;
}

.welcomb {
    font-size: 36px;
    font-family:'DM Serif Text', serif;
    padding: 10px;
    text-align: center;
}

.wel {
    display:inline-block;
    font-family: 'DM Serif Text', serif;
}

.mainB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainB > button {
    margin-top: 3rem;
    height: 6vh;
    width: 50%;
    border-radius: 5px;
    background-color: #F36B6B;
    color: white;
    border: 1px solid white;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    cursor: pointer;
}

.mainB > button:hover {
    background-color: white;
    color: #F36B6B;
    border: 1px solid #F36B6B
}

.startButton {
    display: block;
    text-align: center;
}

.navbar-toggler {
    border: none;
}

.startButton > button {
    margin-top: 5rem;
    height: 6vh;
    width: 50%;
    border-radius: 5px;
    background-color: #F36B6B;
    color: white;
    border: 1px solid white;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    cursor: pointer;
}

.painButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'DM Serif Text', serif;
}

.painButton {
    margin-bottom: 20px;
}

.painButtons > button {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
}

.painhisButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'DM Serif Text', serif;
    width: fit-content;
    float: left;
}

.card {
    display: block;
    text-align: center;
    font-family: 'DM Serif Text', serif;
    height: 25vh;
    width: 100%;
    border: 0px;
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.recs{
    display: block;
    text-align: center;
    font-family: 'DM Serif Text', serif;
}

.recImg {
    border: 2px solid black;
    border-radius: 5px;
    object-fit: cover;
    padding: 0;
    width: 80%;
    height: 30vh;
}

.card-body {
    height: inherit;
}

.or {
    display: block;
    text-align: center;
    font-family: 'DM Serif Text', serif;
    cursor: initial;
}

.guest {
    display: block;
    margin: auto;
  
    font-family: 'DM Serif Text', serif;
    text-align: center;
    cursor: pointer;
    width: fit-content;
}

.guest2 {
    display: block;
    margin: auto;
    font-family: 'DM Serif Text', serif;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    padding: 10px;
}

.guest2:hover{
    color: #F36B6B;
}

.empty{
    display: block;
    text-align: center;
    font-family: 'DM Serif Text', serif;
    padding: 10px;
}

.guest:hover{
    border-bottom: 1px solid black;
}

.card:hover{
    color: #F36B6B;
}

.guest2:hover {
    border: #F36B6B 1px solid;
    padding: 10px;
    border-radius: 10px;
}

.required {
    font-family: 'DM Serif Text', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.card-body >h3 {
    text-align: left;
    max-height: 60%;
    overflow: hidden;
}

.painhisButtons > button {
    margin-left: 5px;
    margin-right: 5px;
   margin: 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
}

.painNote {
    display: block;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.painNote > textarea {
    padding: 10px;
    border-radius:5px;
    width: 80%;
    margin: 1rem;
    height: 15vh;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

.journalNote {
    display: block;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.journalNote > textarea {
    padding: 10px;
    border-radius:5px;
    width: 80%;
    margin: 1rem;
    height: 30vh;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

.journalNote > textarea:hover {
    border: 1px solid #F36B6B;
}

.journalNote2 {
    display: block;
    text-align: center;
}

.journalNote2 > textarea {
    padding: 10px;
    border-radius:5px;
    width: 80%;
    margin: 1rem;
    height: 50vh;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

.journalNote3 {
    display: block;
    text-align: center
}

.journalNote3 > textarea {
    padding: 10px;
    border: 2px solid black;
    border-radius:5px;
    width: 80%;
    margin: 1rem;
    height: 30vh;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

.journalNote3 > textarea:hover {
    padding: 10px;
    border: 2px solid #F36B6B;
   
}


.journalNote2 > textarea:hover {
    border: 1px solid #F36B6B;
}

.painNote > textarea:hover {
    border: 1px solid #F36B6B;
}

form {
   display: block;
   text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.form-group2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}


.form-group2 >input {
    padding:10px;
    border-radius:5px;
    width: 80%;
    margin-bottom: 1rem;
    padding: 10px;
    height: 6vh;
    font-size: larger;
    font-family:'DM Serif Text', serif;
}



.form-group >input {
    padding:10px;
    border-radius:5px;
    width: 80%;
    margin: 1rem;
    padding: 10px;
    height: 6vh;
    font-size: larger;
    font-family:'DM Serif Text', serif;
}



.form-group2 > input:hover {
    width: 85%;
    transition: ease;
}

.form-group > input:hover {
    width: 85%;
    transition: ease;
}

.form-group2 > h5 {
    padding:10px;
    border-radius:5px;
    width: 80%;
    text-align: left;
    padding: 10px;
    font-size: larger;
    font-family:'DM Serif Text', serif;
}

.form-group3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-family:'DM Serif Text', serif;
}

.form-group3 >input {
    padding:10px;
    border-radius:5px;
    margin-bottom: 1rem;
    padding: 10px;
    height: 6vh;
    font-size: larger;
    font-family:'DM Serif Text', serif;
}

.previewImg{
    width: 80%;
    max-width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    height: 30vh;
    max-height: 30vh;
}
.previewImg > img {
    display: block;
    margin: auto;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    object-fit: cover;
}

.loginButton > button {
    text-align: center;
    margin-top: 5rem;
    height: 6vh;
    width: 50%;
    border-radius: 5px;
    background-color: #F36B6B;
    color: white;
    border: 1px solid white;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    cursor: pointer;
}

.backbuttons {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    font-family: 'DM Serif Text', serif;
}

.backbuttons > h4 {
    cursor: pointer;
}

.backbuttons > h4:hover {
    color: #F36B6B;
}

.signupButton > button {
    text-align: center;
    margin-top: 2rem;
    height: 6vh;
    width: 50%;
    border-radius: 5px;
    background-color: #F36B6B;
    color: white;
    border: 1px solid white;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    cursor: pointer;
}

.loginButton > button:hover {
    background-color: white;
    color: #F36B6B;
    border: 1px solid #F36B6B
}

.painButton > button {
    text-align: center;
    margin-top: 2rem;
    height: 6vh;
    width: 50%;
    border-radius: 5px;
    background-color: #F36B6B;
    color: white;
    border: 1px solid white;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    cursor: pointer;
}

.journalButton {
    display: block;
    text-align: center;
}

.journalButton > button {
    text-align: center;
    height: 6vh;
    width: 50%;
    border-radius: 5px;
    background-color: #F36B6B;
    color: white;
    border: 1px solid white;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    cursor: pointer;
}

.journalButton > button:hover {
    background-color: white;
    color: #F36B6B;
    border: 1px solid #F36B6B
}

.painButton > button:hover {
    background-color: white;
    color: #F36B6B;
    border: 1px solid #F36B6B;
}

#item:hover {
    color: #F36B6B;
    cursor: pointer;
}

#navbar {
    font-family: 'DM Serif Text', serif;
}

.painButtons > button:hover {
    cursor: pointer;
    border: black 1px solid;
}

.signupButton > button:hover {
    background-color: white;
    color: #F36B6B;
    border: 1px solid #F36B6B
}

.recsRow {
    display: flex;
    flex-direction: row ;
    align-items: center;
}   

.ar{
    cursor: pointer;
}

.ar:hover{
    color: #F36B6B;
}

.needacc{
    width: 70%;
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
    margin: auto;
    font-family: 'DM Serif Text', serif;
}

.needacc:hover {
    border-bottom: 1px solid black;
}

.statement {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 50px;
    font-family: 'DM Serif Text', serif;
}

.form-group2 > input[type = 'file']{
    display: none;
}

.card-title:hover {
    color: #F36B6B;
}

.back-arrow{
    margin-left: 10px;
}

.next-arrow{
    margin-right: 10px
}

.form-group3 > select {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
}

.form-group3 > select:hover {
    cursor: pointer;
    border: 2px solid #F36B6B;
}

.medImg{
    float: right;
    display: inline;
    width: 30%;
}
.medImg > img {
    float: right;
    object-fit: cover;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    height: 7vh;
}

.label {
    text-align: center;
    height: 4vh;
    width: 40%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: larger;
    font-family:'DM Serif Text', serif;
    cursor: pointer;
    vertical-align: middle;
}

.label > label {
    vertical-align: middle;
    cursor: pointer;
}

.label:hover {
    border: 1px solid #F36B6B;
    color: #F36B6B;
}

.cit{
    margin: 1rem;
}

#city:hover{
    border: 2px solid #F36B6B;
}

.lef{
    text-align: left;
}

.lefT {
    text-align: left;
    margin-left: 1rem;
}

@media screen and (max-width: 450px) {
.label {
  
    height: 9vh;
}
}

@media screen and (min-width: 430px) {
    .cit{
        margin: 0;
    }
    .lef {
        text-align: center;
        margin-top: 1rem;
    }

    .lefT {
        margin: auto;
        text-align: center;
    }

    .card2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 40vw;
        height: 50vh;
    }

    .label{
        width: 20%;
        height: 6vh;
    }

    .medImg{
        float: none;
    
        width: 100%;
    }
    .medImg > img {
        float: none;
        height: 20vh;
        width: 50%;
    }

    .previewImg{
        width: 45%;
    }

    .form-group3 > input {
        margin-bottom: 0;
    }

    .form-group3 > select {
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        border: 2px solid black;
    }

    .form-group3 > select:hover {
      
        border: 2px solid #F36B6B;;
    }

    .form-group3 {
        flex-direction: row;
        width: 80%;
        margin: auto;
    }

    .form-group3 >input {
        margin: 0;
    }
    .needacc {
        width: fit-content;
    }

    .recImg {
        height: 60vh;
        width: 60%;
    }

    .back-arrow{
        margin-left: 40px;
        padding-left: 20px;
    }

    .next-arrow{
        margin-right: 40px;
        padding-right: 20px
    }

    .title5 {
        margin-left: 5rem;
    }

    .card-body >h3 {
        text-align: center;
        max-height: 70%;
        overflow: hidden;
    }

    .painhisButtons {
        display: inline-block;
        float: none;
    }

    .initContainer> h1 {
        font-size: 100px;
    }

    .journalButton > button {
        width: 35%;
    }   

    .loginButton > button {
        width: 35%;
    }

    .signupButton > button {
        width: 35%;
    }
    .mainB > button {
        width: 35%
    }

    .painButton > button {
        width: 35%;
    }
    .painButtons > button:hover {
        cursor: pointer;
        border: black 1px solid;
    }
    
}

@media screen and (orientation: portrait) and (min-height: 1000px) and (max-height: 1150px){
    .title5 {
        margin-left: 5rem;
        padding-left: 20px;
    }

    .painhisButtons {
        display: inline;
    }

    .lefT {
        overflow-y: hidden;
        max-height: 55px;
    }
}

@media screen and (min-width: 1300px){
    .title5 {
        margin-left: 10rem;
       
    }
    .form-group >input{
        height: 9vh;
    }
    .loginButton >button {
        height: 9vh;
    }
    .signupButton >button {
        height: 9vh;
    }
    .mainB > button {
        height: 9vh;
    }
   
    .startButton > button {
        height: 9vh;
    }
  
    .painButton > button {
        height: 9vh;
    }
    .journalButton > button {
        height: 9vh
    }

    .form-group2 > input {
        height: 9vh;
    }
    .label {
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (orientation: landscape) and (max-height: 450px) {
    .loginButton > button {
        height: 15vh
    }

    .lefT {
        overflow-y: hidden;
        max-height: 45px;
    }

    .medImg{
        float: right;
        display: inline;
        width: 30%;
    }
    .medImg > img {
        float: right;
        object-fit: cover;
        width: 100%;
        border: 1px solid black;
        border-radius: 5px;
        height: 7vh;
    }

    .lef{
        text-align: left;
    }
    
    .lefT {
        text-align: left;
        margin-left: 1rem;
        max-height: 40px;
    }

    .signupButton > button {
        height: 15vh
    }

    .previewImg{
    height: 50vh;
}

    .form-group > input {
        height: 10vh;
    }

    .form-group2 > input {
        height: 10vh;
    }
    .painNote > input {
        height: 30vh;
    }

    .painButton > button {
        height: 15vh;
    }

    .title5 {
        margin-left: 3rem;
    }
    .startButton > button {
        height: 15vh;
    }
    .mainB > button {
        height: 15vh;
    }

    .card{
        height: 40vh;
    }

    .card2 {
        height: 55vh;
        width: 70%;
        margin: auto;
    }

    .card-body >h3 {
        max-height: 75%;
    }

    .journalNote > textarea {
        height: 40vh;
    }

    .journalButton > button{
        height: 15vh;
    }
}

@media screen and (max-height: 340px) {
    .title5 {
        margin-left: 2rem;
    }

    .initContainer> h1 {
        font-size: 40px; 
    }
}


@media screen and (max-width: 340px) {
    .initContainer> h1 {
        font-size: 35px;
    }

    .cole {
        width: 100%
    }

    .form-group3 > h5 {
        margin: 1rem;
    }

    .cit{
        margin: 1rem;
    }
    .journalButton > button{
        height: 12vh;
    }
    .loginButton > button {
        height: 10vh
    }
    .startButton > button {
        height: 10vh;
    }
    .mainB > button {
        height: 10vh;
    }
    .painButton > button {
        height: 10vh;
    }
    .signupButton > button {
        height: 10vh
    }
}

.btn1, .btn9{
    background-color: #08DB37;
}
.btn2, .btn10{
    background-color: #98F877;
}
.btn3, .btn11{
    background-color: #DBFF00;
}
.btn4, .btn12{
    background-color: #F8FD00;
}
.btn5, .btn13{
    background-color: #FFAD0F;
}
.btn6, .btn14{
    background-color: #EE731A;
}
.btn7, .btn15{
    background-color: #EC3E07;
}
.btn8, .btn16{
    background-color: #FF0000;
}

.btnNotInUse {
    background-color: lightgray;
}